.color-picker {
  padding-left: 1em;
  position: -webkit-sticky;
  position: sticky;
  top: 4em;
  float: left;
  margin-top: 5px;
}

.demo-bg {
  padding: 1em 1em 1em 260px ;
  margin-right: 1em;
}

.font-name {
  text-align: left;
  font-style: italic;
  font-weight: bolder;
}