.colors-sheet {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  /* box-sizing: content-box; */
}

.color-block {
  line-height: 20px;
  padding: 10px;
  width: calc(100% / 16);
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  text-align: center;
}

.demo {
  padding: 0!important;
}

.demo > div:nth-child(1) {
  border-top-left-radius: 4px;
}

.demo > div:nth-child(16) {
  border-top-right-radius: 4px;
}

.demo > div:nth-last-child(1) {
  border-bottom-right-radius: 4px;
}
.demo > div:nth-last-child(16) {
  border-bottom-left-radius: 4px;
}
