.css-colors-sheet {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1em 0;
  padding: 1em;
  background: linear-gradient(90deg,
  #353535, #494949, #353535
)!important;
}

.css-color-block {
  line-height: 20px;
  padding: 10px 1em;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  text-align: center;
  cursor: pointer;
  margin: 5px;
  border-radius: var(--border-radius);
}
